.fc-daygrid-day {
  background-color: transparent;
  cursor: pointer;
}

/* case du jour courant */
.fc-day-today {
  background: var(--primary-shadow) !important;
  color: var(--primary);
  font-weight: bold;
  border-color: var(--primary) !important;
}

.fc-day-free {
  background-color: rgba(34, 197, 94, 0.12);
  /* vert léger */
}

.fc-daygrid-event {
  border-radius: 6px;
  padding: 4px 4px;
  font-size: 0.75rem;
}

.fc-scrollgrid {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: hidden;
  border: 1px solid transparent;
  background: var(--card-color);
}

/* titres des jours */
.fc-theme-standard th {
  color: #e5e7eb;
  font-weight: 600;
}

/* Barre du haut */
.fc .fc-toolbar.fc-header-toolbar {
  padding: 0px 16px;
  gap: 8px;
  margin-bottom: 15px;
}

/* Tous les boutons */
.fc .fc-button {
  background-color: transparent;
  /* bleu principal */
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 9999px;
  /* pill / très arrondi */
  padding: 4px 10px;
  font-size: 0.8rem;
  font-weight: 500;
}

/* Hover */
.fc .fc-button:hover {
  background-color: var(--primary);
  color: var(--background);
  border: 1px solid var(--primary);
}

/* Bouton actif (vue sélectionnée : Mois/Semaine/Jour/Liste) */
.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: var(--primary);
  color: var(--background);
  border: 1px solid var(--primary);
}

/* Icônes précédent / suivant un peu plus visibles */
.fc .fc-prev-button,
.fc .fc-next-button {
  min-width: 32px;
}

/* Bouton "Aujourd'hui" normal */
.fc .fc-today-button.fc-button-primary {
  background-color: var(--primary);
  /* pas de fond */
  color: var(--background);
  /* texte bleu */
  border: 1px solid var(--primary);
  /* contour bleu */
  box-shadow: none;
}

/* Hover "Aujourd'hui" */
.fc .fc-today-button.fc-button-primary:hover {
  /* léger bleu */
  color: var(--background);
}


/* Ligne d’en-tête (la rangée avec les jours) */
.fc-col-header {
  background: rgba(15, 23, 42, 0.9);
  
  /* fond du header */
}

/* Chaque cellule d’en-tête */
.fc-col-header-cell {
  padding: 6px 0;
  border-color: rgba(148, 163, 184, 0.25);
  /* bordure entre les jours */
}

/* Texte "Lun", "Mar", etc. */
.fc-col-header-cell-cushion {
  display: block;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #e5e7eb;
  /* tu peux mettre var(--font-color) si tu veux */
}

/* Coin arrondi sur la première / dernière cellule (optionnel) */
.fc-col-header-cell:first-child {
  border-top-left-radius: 12px;
}

.fc-col-header-cell:last-child {
  border-top-right-radius: 12px;
}