.fc {
  width: 100%;
}

.fc-scrollgrid {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: hidden;
  border: none;
  background: var(--card-color);
}

/* Ligne d’en-tête (la rangée avec les jours) */
.fc-col-header {
  background: var(--blackColor);
  color: white;
  border-bottom-width: 0.1px;
  /* fond du header */
}

/* Chaque cellule d’en-tête */
.fc-col-header-cell {
  padding: 6px 0;
  border-color: var(--card-border);
  border-bottom-width: 0.1px;
  /* bordure entre les jours */
}

/* Texte "Lun", "Mar", etc. */
.fc-col-header-cell-cushion {
  display: block;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: white;
  /* tu peux mettre var(--font-color) si tu veux */
}

.fc .fc-scrollgrid,
.fc .fc-scrollgrid td,
.fc .fc-scrollgrid th {
  border: 0.1px solid var(--card-border) !important;
  
}

.fc .fc-scrollgrid th {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-width: 0.1px;
}

.fc-daygrid-day {
  background-color: transparent;
  border: 0.1px solid var(--card-border);
  border: none;
  cursor: pointer;
}

/* case du jour courant */
.fc-day-today {
  background: var(--primary-shadow) !important;
  color: var(--primary);
  font-weight: 500;
  border-color: var(--primary) !important;
}

.fc-day-past {
  background: var(--grey-hyper-dark);
  cursor: not-allowed;
  color: var(--card-color);
}

.fc-day-free {
  background-color: rgba(4, 247, 93, 0.12);
  /* vert léger */
}


/* List view */
.fc .fc-list-event {
  cursor: pointer;
   border: none;
}

.fc .fc-list-event-dot {
  border-color: var(--primary) !important;
}

.fc .fc-list-event.open .fc-list-event-dot {
  border-color: var(--session-status-open) !important;
}
.fc .fc-list-event.full .fc-list-event-dot {
  border-color: var(--session-status-full) !important;
}
.fc .fc-list-event.expired .fc-list-event-dot {
  border-color: var(--session-status-expired) !important;
}
.fc .fc-list-event.finished .fc-list-event-dot {
  border-color: var(--session-status-finished) !important;
}
.fc .fc-list-event.draft .fc-list-event-dot {
  border-color: var(--session-status-draft) !important;
}

.fc .fc-list-event-time,
.fc .fc-list-event-title {
  color: var(--font-color);
}


/* Bandeau de date dans la liste */
.fc .fc-list-day-cushion {
  background: var(--blackColor);
  color: white;
  border-color: var(--card-border);
  border-width: 0.1px;
  font-weight: 600;
  padding: 10px 12px;
}

.fc-theme-standard .fc-list {
  border: none !important;
}

.fc-theme-standard .fc-list-table {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-width: 0.1px;
  border-width: 0.1px;
  border-color: var(--card-border);
}

/* Table liste */
.fc .fc-list-table {
  border: none;
  overflow: hidden;
  border: none;
  background: var(--card-color);
}

/* Lignes event */
.fc .fc-list-event:hover td {
  background: rgba(0, 0, 0, 0.04);
}

/* Texte */
.fc .fc-list-event-title,
.fc .fc-list-event-time {
  font-size: 0.9rem;
  border: none;
}

.fc-daygrid-event {
  border-radius: 6px;
  padding: 5px;
  padding-bottom: 7px;
  font-size: 0.75rem;
  line-height: 1;
  background: var(--calendar-free);
  border-left: 2px solid var(--primary);
  white-space: nowrap;
  cursor: pointer;
  color: black;
   border: none;
}

/* Week/Day view (timeGrid) */
.fc .fc-timegrid-event,
.fc .fc-v-event {
  border-radius: 6px;
  padding: 5px;
  padding-bottom: 7px;
  font-size: 0.75rem;
  line-height: 1;
  background: var(--session-status-open-glow);
  border: none;
  border-left: 2px solid var(--primary);
   border: none;
  white-space: nowrap;
  cursor: pointer;
  color: black !important;
}

/* Texte interne (week/day) */
.fc .fc-timegrid-event .fc-event-main,
.fc .fc-v-event .fc-event-main {
  color: black !important;
}

.fc-daygrid-event:hover {
  background: var(--calendar-free);
  border-left: 2px solid var(--primary);
}

.fc-daygrid-event.open,
.fc-timegrid-event.open {
  background: var(--session-status-open-glow);
  color: var(--session-status-open-text);
  border: 0.1px solid var(--session-status-open);
  border-left: 2px solid var(--session-status-open);
}
.fc-list-event.open {
  background: var(--session-status-open-glow);
}
.fc-list-event.open .fc-list-event-time,
.fc-list-event.open .fc-list-event-title {
  color: var(--session-status-open-text);
}

.fc-daygrid-event.open:hover,
.fc-timegrid-event.open:hover {
  background: var(--session-status-open);
  border-left: 2px solid var(--primary);
}
.fc .fc-list-event.open:hover td {
  background: var(--session-status-open);
}
.fc .fc-list-event.open:hover .fc-list-event-dot {
  border-color: var(--primary) !important;
}

.fc-daygrid-event.full,
.fc-timegrid-event.full {
  background: var(--session-status-full-glow);
  color: var(--session-status-full-text);
  border: 0.1px solid var(--session-status-full);
  border-left: 2px solid var(--session-status-full);
}
.fc-list-event.full {
  background: var(--session-status-full-glow);
}
.fc-list-event.full .fc-list-event-time,
.fc-list-event.full .fc-list-event-title {
  color: var(--session-status-full-text);
}

.fc-daygrid-event.full:hover,
.fc-timegrid-event.full:hover {
  background: var(--session-status-full);
  border-left: 2px solid var(--primary);
}
.fc .fc-list-event.full:hover td {
  background: var(--session-status-full);
}
.fc .fc-list-event.full:hover .fc-list-event-dot {
  border-color: var(--primary) !important;
}


.fc-daygrid-event.finished,
.fc-timegrid-event.finished {
  background: var(--session-status-finished-glow);
  color: var(--session-status-finished-text);
  border: 0.1px solid var(--session-status-finished);
  border-left: 2px solid var(--session-status-finished);
}
.fc-list-event.finished{
  background: var(--session-status-finished-glow);
}
.fc-list-event.finished .fc-list-event-time,
.fc-list-event.finished .fc-list-event-title {
  color: var(--session-status-finished-text);
}

.fc-daygrid-event.finished:hover,
.fc-timegrid-event.finished:hover {
  background: var(--session-status-finished);
  border-left: 2px solid var(--primary);
}
.fc .fc-list-event.finished:hover td {
  background: var(--session-status-finished);
}
.fc .fc-list-event.finished:hover .fc-list-event-dot {
  border-color: var(--primary) !important;
}


.fc-daygrid-event.expired,
.fc-timegrid-event.expired {
  background: var(--session-status-expired-glow);
  color: var(--session-status-expired-text);
  border: 0.1px solid var(--session-status-expired);
  border-left: 2px solid var(--session-status-expired);
}
.fc-list-event.expired {
  background: var(--session-status-expired-glow);
  color: var(--font-color);
}
.fc-list-event.expired .fc-list-event-time,
.fc-list-event.expired .fc-list-event-title {
  color: var(--session-status-expired-text);
}

.fc-daygrid-event.expired:hover,
.fc-timegrid-event.expired:hover {
  background: var(--session-status-expired);
  border-left: 2px solid var(--primary);
}
.fc .fc-list-event.expired:hover td {
  background: var(--session-status-expired);
}
.fc .fc-list-event.expired:hover .fc-list-event-dot {
  border-color: var(--primary) !important;
}

.fc-daygrid-event.draft,
.fc-timegrid-event.draft {
  background: var(--session-status-draft-glow);
  color: var(--session-status-draft-text);
  border: 0.1px solid var(--session-status-draft);
  border-left: 2px solid var(--session-status-draft);
}
.fc-list-event.draft {
  background: var(--session-status-draft-glow);
}
.fc-list-event.draft .fc-list-event-time,
.fc-list-event.draft .fc-list-event-title {
  color: var(--session-status-draft-text);
}

.fc-daygrid-event.draft:hover,
.fc-timegrid-event.draft:hover {
  background: var(--session-status-draft);
  border-left: 2px solid var(--primary);

}
.fc .fc-list-event.draft:hover td {
  background: var(--session-status-draft);
}
.fc .fc-list-event.draft:hover .fc-list-event-dot {
  border-color: var(--primary) !important;
}




/* titres des jours */
.fc-theme-standard th {
  color: #e5e7eb;
  font-weight: 600;
}

/* Barre du haut */
.fc .fc-toolbar.fc-header-toolbar {
  padding: 0px 16px;
  gap: 8px;
  margin-bottom: 15px;
}

/* Tous les boutons */
.fc .fc-button {
  background-color: var(--card-color);
  /* bleu principal */
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 9999px;
  /* pill / très arrondi */
  padding: 4px 10px;
  font-size: 0.8rem;
  font-weight: 500;
}

/* Hover */
.fc .fc-button:hover {
  background-color: var(--primary);
  color: var(--background);
  border: 1px solid var(--primary);
}

/* Bouton actif (vue sélectionnée : Mois/Semaine/Jour/Liste) */
.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: var(--primary);
  color: var(--background);
  border: 1px solid var(--primary);
}

/* Icônes précédent / suivant un peu plus visibles */
.fc .fc-prev-button,
.fc .fc-next-button {
  min-width: 32px;
}

/* Bouton "Aujourd'hui" normal */
.fc .fc-today-button.fc-button-primary {
  background-color: var(--primary);
  /* pas de fond */
  color: var(--background);
  /* texte bleu */
  border: 1px solid var(--primary);
  /* contour bleu */
  box-shadow: none;
}

/* Hover "Aujourd'hui" */
.fc .fc-today-button.fc-button-primary:hover {
  /* léger bleu */
  color: var(--background);
}